<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suncorp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.suncorp.presentation.SuncorpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pokomon"
        android:usesCleartextTraffic="true">

        <!-- Astronut List Activity       -->
        <activity
            android:name="com.suncorp.presentation.ui.features.astronutlist.AstronutListActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!--  Astronut Detail      -->
        <activity
            android:name=".presentation.ui.features.astronutdetail.AstronutDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>